/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #020024;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Main container */
.container {
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #0056b3;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.control-group {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007bff;
}

.buttons {
    display: flex;
    gap: 10px;
}

button.btn {
    align-self: center;
    padding: 20px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(0, 91, 187, 0.3);
}

button.btn-danger {
    background-color: #dc3545;
}

button.btn-danger:hover {
    background-color: #8b131f;
    box-shadow: 0px 4px 10px rgba(200, 35, 51, 0.3);
}

button.btn-continue {
    background-color: #24a81f;
}

button.btn-continue:hover {
    background-color: #136910;
    box-shadow: 0px 4px 10px rgba(3, 100, 32, 0.3);
}

#timer {
    color: #007bff;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: start;
}

/* Canvas Styling */
canvas {
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .controls {
        flex-direction: column;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    button.btn {
        width: 100%;
    }
}
